<div class="container">
  <h3>Let's get started</h3>

  <div class="survey-rectangles margin-bottom-35px">
    <% @qna[:id].times do %>
      <div class="rectangle green"></div>
    <% end %>
    <% (5 - @qna[:id]).times do %>
      <div class="rectangle grey"></div>
    <% end %>
  </div>

  <div class="form-content">
    <%= render "form_#{@qna[:id]}" %>
  </div>
</div>
