<div class="container">
  <h3>Let's get started</h3>

  <div class="survey-rectangles">
    <% @green_rectangles_count.times do %>
      <div class="rectangle green"></div>
    <% end %>
    <% @grey_rectangles_count.times do %>
      <div class="rectangle grey"></div>
    <% end %>
  </div>

  <% if @green_rectangles_count > 1 %>
    <a href="/survey/<%= @green_rectangles_count - 1 %>">Back</a>
  <% end %>
  <br/>
  <% if @green_rectangles_count < 5 %>
    <a href="/survey/<%= @green_rectangles_count + 1 %>">Next</a>
  <% end %>
</div>
