<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <div align="center">
      <% if @user.is_expert %>
        <h3 class="register-header">Join our expert team</h3>
        <h4 class="register-description">Help high school students find the answers to their questions.<br/>Are you a student? <a href="/signup">Click here</a> to get connected.</h4>
      <% else %>
        <h3 class="register-header">Get connected</h3>
        <h4 class="register-description">Start receiving personalized mentorship and guidance today.<br/>Looking to join as an advisor? <a href="/experts_signup">Click here</a> to get involved.</h4>
      <% end %>
    </div>
  </div>
</div>

<%= render 'form' %>
