<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 align="center">Edit your account</h1>
    <h4 align="center">Manage your account information here.</h4>
  </div>
</div>

<%= render 'form' %>