<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <div align="center">
      <h3 class="register-header">Edit your account</h3>
      <h4 class="register-description">Manage your account information here.</h4>
    </div>
  </div>
</div>

<%= render 'form' %>