<div class="container">
  <h3>Hello, <%= @user.first_name %>!</h3>
  <br>
  <h4 class="margin-bottom-35px">Welcome to Winston, your personal education concierge.</h4>

  <p>You currently have 0 call(s) scheduled</p>
  <p>Your personal concierge will reach out to you shortly</p>
  <!-- PAYMENTS LINK -->
<!--   <a href="/charges/new">
    <button type="button" class="btn btn-primary">💳 Once you submit payment, your account will be credited and you will be matched with a counselor.</button>
  </a> -->
  <br><br>

</div>
