<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <div align="center">
      <h3 class="register-header">Join our expert team</h3>
      <h4 class="register-description">Help high school students find the answers to their questions.<br/>Are you a student? <%= link_to "Click here", new_student_registration_path %> to get connected.</h4>
    </div>
  </div>
</div>

<%= render 'form' %>
