<div class="container">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 center">
    <h3>We'll be in touch!</h3>

    <h4 class="margin-bottom-10vh">Thanks for submitting your information. One of our team members <br>
      will be reaching out shortly
    </h4>

    <h4 class="margin-bottom-25vh">In the meantime, log in to access your dashboard, where you can keep track of your progress</h4>
  </div>
  <div class="col-sm-1"></div>
</div>
