<div class="center">
  <h1 id="sign_up_header">Sign up on Winston</h1>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="card sign-up-card">
        <div class="card-body">
          <h5 class="card-title">I want to be introduced to college students or alumnis</h5>
          <p class="card-text">Get introduced to the right experts to answer your questions about specific universities</p>
          <%= link_to "Sign Up as a Student", signup_path, class: "btn btn-lg btn-primary outside-btn" %>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card sign-up-card card-img-background">
        <div class="card-body">
          <h5 class="card-title">I want to mentor high school students</h5>
          <p class="card-text">Respond to high school students requests based on each student's needs and hop on a call.</p>
          <%= link_to "Join as an Expert", experts_signup_path, class: "btn btn-lg btn-primary outside-btn" %>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>


<div class="what-we-do-section">
  <h3>What we do</h3>
  <p>Whether you're looking for help with applications, deciding between universities, or figuring out where to live</p>
  <p>and what classes to take, Winston was created for you.</p>

  <div class="what-we-do-container">
    <h4>Guidance</h2>
    <p>Get assistance, no matter what stage you're at. From our carefully vetted experts- all current students, alumni, or former</p>
    <p>admissions counselors from top universities</p>
  </div>

  <div class="what-we-do-container">
    <h4>Application</h2>
    <p>Not feeling too confident with an essay or a personal statement?</p>
    <p>Let our experts take a second look. Or a third. Or a fourth. Let's get it right, together.</p>
  </div>

  <div class="what-we-do-container">
    <h4>Discovery</h2>
    <p>Let us help you find the right higher education institution for you</p>
    <p>not what a ranking list says</p>
  </div>

  <div class="what-we-do-container">
    <h4>Ask Anything</h2>
    <p>Navigating the college admissions process can be complicated.</p>
    <p>Winston makes it simple enpowering students to make</p>
    <p>decisions on every topic.</p>
  </div>
</div>

<div class="how-it-works">
  <h3>How it works</h3>
  <p>Get connected with an expert in three quick, easy steps, no matter where you are</p>
  <div class="how-it-works-step">
    <h6>Tell us about you</h6>
    <p>Answer a few questions about yourself to help <br>
      Winston create a personalized experience
    </p>
  </div>

  <div class="how-it-works-step">
    <h6>Choose an advisor</h6>
    <p>Select an advisor from customized list of experts,<br>
      handpicked especially for you by Winston
    </p>
  </div>

  <div class="how-it-works-step">
    <h6>Get your questions answered</h6>
    <p>Attend your remote expert advising session,<br>
      all details coordinated by Winston
    </p>
  </div>
</div>

<div class="what-students-are-saying">
  <p>See how Winston can help</p>
  <div class="student-testimonial">
    <p class="student-quote">
      "Winston helped me build the confidence I was lacking. I would never
      have made it into Stanford without my advisor's help. They made the progress
      so easy and simple."
    </p>
    <!-- <img src=""> -->
    <p>Choodry C</p>
    <p>Student, Delhi</p>
  </div>

  <div class="student-testimonial">
    <p class="student-quote">
      "Winston helped me build the confidence I was lacking. I would never
      have made it into Stanford without my advisor's help. They made the progress
      so easy and simple."
    </p>
    <!-- <img src=""> -->
    <p>Choodry C</p>
    <p>Student, Delhi</p>
  </div>

  <div class="student-testimonial">
    <p class="student-quote">
      "Winston helped me build the confidence I was lacking. I would never
      have made it into Stanford without my advisor's help. They made the progress
      so easy and simple."
    </p>
    <!-- <img src=""> -->
    <p>Choodry C</p>
    <p>Student, Delhi</p>
  </div>
</div>

<div class="flexible-offerings">
  <p>Whether you're looking for some quick advice on 1-on-1 counseling relationship, Winston has many options to meet your needs</p>
  <p>Sign up now to receive a customized quote or contact us to learn more</p>
  <%= link_to "SIGN UP NOW", signup_path, class: "btn btn-small btn-primary outside-btn" %>
  <!-- <img src=""> large woman image-->
</div>

<div class="get-started-today">
  <p>Let Winston help you create a better, brighter future</p>
  <%= link_to "SCHEDULE YOUR FIRST CALL", signup_path, class: "btn btn-lg btn-primary outside-btn" %>
</div>
