<div class="center">
  <h1 id="sign_up_header">Sign up on Winston</h1>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="card sign-up-card">
        <div class="card-body">
          <h5 class="card-title">I want to be introduced to college students or alumnis</h5>
          <p class="card-text">Get introduced to the right experts to answer your questions about specific universities</p>
          <%= link_to "Sign Up as a Student", signup_path, class: "btn btn-lg btn-primary outside-btn" %>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card sign-up-card card-img-background">
        <div class="card-body">
          <h5 class="card-title">I want to mentor high school students</h5>
          <p class="card-text">Respond to high school students requests based on each student's needs and hop on a call.</p>
          <%= link_to "Join as an Expert", experts_signup_path, class: "btn btn-lg btn-primary outside-btn" %>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
