<div align="center">
  <%= form_tag('/answers', method: 'post') do %>
    <% @qna.each do |questionAndAnswer| %>
      <h2><%= label_tag(questionAndAnswer[:question_id], questionAndAnswer[:question]) %></h2>
      </br>
      <%= text_area_tag(questionAndAnswer[:question_id], questionAndAnswer[:answer], size: '100x10') %>
      </br>
    <% end %>
    <%= submit_tag('Submit') %>
<% end %>
</div>