@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
font-family: 'Oswald';
src: url('Oswald/Oswald-Regular.ttf') format('truetype');
src: url('Oswald/Oswald-Bold.ttf') format('truetype');
src: url('Oswald/Oswald-Light.ttf') format('truetype');
}

$primary-color: #419f74;
$light-gray: #f7f7f7;
$gray: #7f7f7f;
$purple: #5d3fb7;
$dark: #333333;


.center {
  text-align: center;
}

.jumbotron-section {
  color: $light-gray;
}

.jumbotron {
  background-image: asset-url('background-flipped.jpg');
  background-size: cover;
  height: 800px;
}

#sign_up_header {
  color: $light-gray;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.outside-btn {
  color: $light-gray;
  font-size: 2em;
  margin: 0.25em;
  background-color: $primary-color;
}

.what-we-do-container {
  float: left;
  text-align: left;
  width: 48%;
  height: 120px;
  margin-left: 2%;
  margin-top: 2%;
  background-color: $light-gray;
  padding-left: 2%;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

.scheduler-header {
  margin-right: 5px;
  margin-bottom: 5px;
}

.scheduler-btn {
  min-width: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
}
