@import "bootstrap";
@import "bootstrap-sprockets";

@import "variables.scss";

.center {
  text-align: center;
}

// NAVIGATION
.logo {
  font-size: 2.0em;
  color: white;
}

.nav-button {
  width: 100px;
  height: 50px;
  font-size: 1em;
  margin-left: 1em;
}

.dropdown-menu {
  a {
    font-size: 1.1em;
    margin-left: 10px;
  }
}

h3 {
  font-family: 'PlayfairDisplay';
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
}

h4 {
  font-family: 'OpenSans';
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.section-text {
  font-family: 'OpenSans';
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: -0.1px;
}

.subheaders {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

.jumbotron {
  font-family: 'PlayfairDisplay', serif;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: asset-url('background-flipped.jpg');
  background-size: cover;
  height: 800px;
  margin-bottom: 0px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#151515,#151515);
    opacity: .6;
  }
}

#sign_up_header {
  width: 1000px;
  height: 170px;
  font-family: 'PlayfairDisplay';
  font-size: 4em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: white;
}

a {
  color: #468266;
}

p {
  font-family: 'OpenSans';
}

.register-header {
  margin-bottom: 25px;
}

.register-description {
  margin-bottom: 40px;
}

.login-header {
  margin-bottom: 25px;
}

.login-description {
  margin-bottom: 40px;
}

.login-spacer {
  margin-bottom: 25vh;
}

.rectangle {
  display: inline-block;
  width: 100px;
  height: 12px;
  margin-right: 3px;
}

.green {
  background-color: $ivy-green;
}

.grey {
  background-color: $medium-gray;
}

.small-text {
  font-size: 16px;
}

.tiny-text {
  font-size: 14px;
}

.mini-text {
  font-size: 12px;
}

.already-have-account {
  margin-bottom: 75px;
}

.jumbotron-text {
  width: 588px;
  height: 99px;
  font-family: 'OpenSans';
  font-size: 1.4em;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.1px;
  color: white;
}


// custom sign up style
.btn.btn-success {
  height: 50px;
  border: solid 1px $ivy-green;
  background-color: $ivy-green;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'OpenSans';
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.register-button {
  font-family: 'OpenSans';
  background-color: $ivy-green;
  color: white;
  border-radius: 0px;
}

.register-button-clear {
  font-family: 'OpenSans';
  background-color: white;
  color: $ivy-green;
  border: 1px solid $ivy-green;
  border-radius: 0px;
}

.how-it-works {
  padding-bottom: 5em;
  background-image: linear-gradient(291deg, $marine-blue, #458166, $ivy-green);
}

.how-it-works-step {
  margin: 0 auto;
  text-align: center;
  color: white;
}

.what-we-do-section {
  padding-bottom: 3em;
}

.what-we-do-subsection {
  float: left;
  text-align: left;
  width: 588px;
  height: 166px;
  margin-left: 2%;
  margin-top: 2%;
  background-color: $light-gray;
  padding-left: 2%;
  border-radius: 12px;
  box-shadow: 0 1px 8px 0 rgba(51, 51, 51, 0.2);
  background-color: white;
}


// MEET OUR TEAM
.meet-our-team {
  padding-bottom: 3em;
  background-color: $light-gray;
}

.university {
  width: 90%;
  height: 85px;
}

//FLEXIBLE OFFERINGS

.flexible-offerings {
  background-image: asset-url('flexible_offerings_image.jpeg');
  padding-top: 5em;
  padding-bottom: 5em;
  height: 546px;
  background-color: rgba(0, 0, 0, 0.65);
}

.left-headers {
  text-align: left;
}

.transparent-button {
  height: 50px;
  border: solid 1px white;
  background:rgba(0,0,0,0);
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
}


// WHAT STUDENTS ARE SAYING

.what-students-are-saying {
  padding-top: 3em;
  padding-bottom: 3em;
}

.student-testimonial {
  width: 384px;
  height: 274px;
  border-radius: 12px;
  box-shadow: 0 1px 8px 0 rgba(51, 51, 51, 0.2);
  background-color: white;
  margin-left: 5em;
}

.student-quote {
  width: 324px;
  height: 120px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $dark-gray;
}

.student-name {
  color: $marine-blue;
  font-weight: bold;
}


// GET STARTED TODAY

.get-started-today {
  padding-top: 3em;
  padding-bottom: 3em;
  background-image: linear-gradient(291deg, $marine-blue, #458166, $ivy-green);
}

// FOOTER
.footer {
  font-family: 'OpenSans';
  height: 300px;
  background-color: $dark-gray;
  padding-top: 3em;

  .footer-text {
    color: $medium-gray;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.sub-footer {
  margin-left: 5em;
  width: 384px;
}


// MISC

.input_checkbox input {
  width: auto !important;
}

.scheduler-header {
  margin-right: 5px;
  margin-bottom: 5px;
}

.scheduler-btn {
  min-width: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.margin-bottom-35px {
  margin-bottom: 35px;
}

.margin-bottom-75px {
  margin-bottom: 75px;
}

.margin-bottom-100px {
  margin-bottom: 100px;
}

.margin-bottom-25vh {
  margin-bottom: 25vh;
}

.margin-top-50px {
  margin-top: 50px;
}

.margin-right-10px {
  margin-right: 10px;
}

.form-radio {
  margin-left: 35px;
}

.form-text {
  font-family: OpenSans;
  //font-weight: normal;
  font-size: 1.1em;
  margin-left: 15px;
}

.no-underline {
  text-decoration: none;
}

.form-error {
  color: red;
  visibility: hidden;
}
