$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
font-family: 'Oswald';
src: url('Oswald/Oswald-Regular.ttf') format('truetype');
src: url('Oswald/Oswald-Bold.ttf') format('truetype');
src: url('Oswald/Oswald-Light.ttf') format('truetype');
}

$primary-color: #009FD9;

.center {
  text-align: center;
  font-family: 'Oswald';
}

.jumbotron {
  background-image: asset-url('background.png');
  background-size: cover;
  height: 650px;
}

#sign_up_header {
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 5.5em;
  margin-bottom: 0.5em;
}

.outside-btn {
  font-family: 'Oswald';
  font-size: 2em;
  margin: 0.25em;
  background-color: $primary-color;
}

.card {
  border: 1px solid grey;
  height: 300px;
  font-family: 'Oswald';
}

.card-body {
  margin-top: 3.25em;
}

.card-img-background {
  background-image: asset-url('experts.jpg');
  background-size: cover;
  color: white;
}

.sign-up-card {
  .card-title {
    font-weight: bold;
    font-size: 2em;
  }

  .card-text {
    font-size: 1.5em;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}
