<footer class="footer">

  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="sub-footer col-sm-3">
      <h4 class="logo-small white">
        <i class="fa fa-graduation-cap primary-color"></i>Winston
      </h4>
      <p class="footer-text">
        Winston is your personal education concierge.
      </p>
    </div>

    <div class="sub-footer col-sm-3">
      <h4 class="white">About Us</h4>
      <p class="footer-text">
        <a class="footer-links" href="/construction">
          FAQ
        </a>
      </p>
      <p class="footer-text">
        <a class="footer-links" href="/construction">
          Terms
        </a>
      </p>
      <p class="footer-text">
        <a class="footer-links" href="/construction">
          Privacy Policy
        </a>
      </p>
    </div>

    <div class="sub-footer col-sm-3">
      <h4 class="white">Contact Us</h4>
      <p class="footer-text">
        <i class="fa fa-envelope white"></i>&nbsp
        <a class="footer-links" href="mailto:info@winston.com">
          info@winston.com
        </a>
      </p>
      <p class="footer-text">
        <i class="fa fa-phone white"></i>&nbsp
        <a class="footer-links" href="tel:15555555555">
          +1 (555) 555-5555
        </a>
      </p>
      <p class="footer-text">
        <i class="fa fa-map white"></i>&nbsp
        1015 Folsom Street<br>
        San Francisco, CA 94103<br>
        United States
      </p>
    </div>

  </div>
  <div class="col-sm-1"></div>

  <small>Copyright &copy; Winston</small>
</footer>
