<!-- Navigation -->
<!-- Hack to do this -->
<% if controller.controller_name != "welcome"%>
<div class="main-navbar">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <nav>
      <span class="navbar-brand dark-logo">
        <i class="fa fa-graduation-cap primary-color"></i>Winston
      </span>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_student_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
<div class="col-sm-1"></div>
<%end%>
