<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <div align="center">
        <h3 class="register-header">Get connected</h3>
        <h4 class="register-description">Start receiving personalized mentorship and guidance today.<br/>Looking to join as an advisor? <%= link_to "Click here", new_expert_registration_path %> to get involved.</h4>
    </div>
  </div>
</div>

<%= render 'form' %>
